@use "sass:math";

// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Соединяющие шрифты ===========================================================================================================================================================================================================================================================================
//&display=swap - Добавьте при подключении через плагин

// Подключитесь, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение шрифтов значков ==============================================================================================================================================================================================================================================================================
// Подключите, если есть файл шрифта значка
@import "fonts/icons";
 

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "montserrat";
$fontSize: rem(16); // тоже 14(px) - Размер шрифта по умолчанию из макета

// Основні кольори
$mainColor: rgba(255, 255, 255, 1); // Цвет шрифта по умолчанию
$orangeColor: rgba(247, 147, 30, 1);
$blackColor: rgba(12, 20, 23, 1);

// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина холста (макет)
$maxWidth: 1440;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1320;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 30;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Вверх ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.header{
			opacity: 1;
		} 
		.panteon{
			&__main-title{
				animation:showEl .3s forwards linear .5s;
			}
			&__main-subtitle{
				animation:showEl .3s forwards linear .8s;
			}
			&__button{
				animation:showButton 1s forwards ease-out 1s;
			}
			&__decor{
				&._big-black,
				&._big-yellow,
				&._big-border{
					animation:showEl .3s forwards linear 1.4s;
				}
				&._small-yellow,
        		&._small-border{
					animation:showEl .3s forwards linear 1.4s;
				}
			}
		}
	}
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Обертка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-weight: 400;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применены к
все классы, содержащие *__container
К примеру header__container, main__container и т.п.
Фрагмент (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Сединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";


// Соединение стилей отдельных блоков
@import "header";
@import "footer";

//common

._title {
	font-weight: 700;
    @include adaptiveValue("font-size", 30, 25);
    line-height: math.div(34 , 30);
}
._button {
	width: rem(280);
	border: 1px solid $mainColor;
	transform: skew(-30deg);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			background-color: $orangeColor;
		}
	}
	a {
		display: block;
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(20 , 16);
		text-align: center;
		padding: rem(20) rem(10);
		transform: skew(30deg);
		background-color: transparent;

	}
}



// Соединение стилей отдельных страниц
@import "home";

